.matrix, .matrix-2x2, .matrix-3x3 {
  display: grid;
}

.matrix-2x2 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.matrix-3x3 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.cell {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.cell.title {
  background-color: #f0f0f0;
  font-weight: bold;
}
